@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: #000f16;
  --background-end-rgb: #002435;
  --text: #e5fffb;
  --text-hover: rgb(34, 133, 153);
  --background: #000f16;
  --transparent: rgba(18, 116, 135, 0.6);
  --primary: #002435;
  --secondary: #003449;
  --shadow: rgba(18, 116, 135, 0.4);
  --gradient-backgroud: linear-gradient(-45deg, var(--primary) 55%, var(--secondary));
  --font: 'Anonymous_Pro';
  --font2: 'Tektur';
}

/* Font */
@font-face {
  font-family: "Anonymous_Pro";
  src: url("/fonts/Anonymous_Pro/AnonymousPro-Regular.ttf") format("truetype");
}

/* Font 2 */
@font-face {
  font-family: "Tektur";
  src: url("/fonts/Tektur/Tektur-VariableFont_wdth,wght.ttf") format("truetype");
}


/* ScrollBar -start */
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--text-hover) transparent;
  border-radius: 15px;
}

html::-webkit-scrollbar {
  width: 5px;
  border-radius: 15px;
}

html::-webkit-scrollbar-thumb {
  background: var(--text-hover);
  border-radius: 15px;
}

html::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

*::-webkit-scrollbar {
  width: 5px;
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  background: var(--text-hover);
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}
/* ScrollBar --end */


/* Basic settings for all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
  outline: none;
  transition: all 0.4s ease-in-out;
}


body {
  color: var(--text);
  background: var(--background-start-rgb);
}

/* Basic Styles Start */
button {
  cursor: pointer;
  background: none;
  color: var(--text);
  border-end-end-radius: 15px;
  border-start-start-radius: 15px;
  background: rgba(18, 116, 135, 0.5);
  box-shadow: 0px 10px 90px 30px var(--shadow);
  padding: 15px 35px;
  text-shadow: 2px 2px 25px var(--primary);
  font-size: 20px;
  font-weight: bold;
}
button:hover {
  background: rgba(18, 115, 135, 0.644);
}

textarea{
  background: var(--primary);
  border-radius: 25px;
  resize: none;
  padding: 30px;
}

textarea::placeholder{
  color: var(--text-hover);
}

textarea:focus{
  background: var(--secondary);
}
input{
  background: var(--primary);
  border-radius: 25px;
  resize: none;
  padding: 15px 25px;
  box-shadow: 0px 10px 90px 30px rgba(18, 116, 135, 0.3);
}

select{
  background: var(--secondary);
  border-radius: 20px;
  padding: 15px 35px;
  box-shadow: 0px 10px 90px 30px rgba(18, 116, 135, 0.4);
}

input::placeholder{
  color: var(--text-hover);
}

input:focus{
  background: var(--secondary);
}

.button-a {
  cursor: pointer;
  background: none;
  color: var(--text);
  border-end-end-radius: 15px;
  border-start-start-radius: 15px;
  background: rgba(18, 116, 135, 0.5);
  box-shadow: 0px 10px 90px 30px rgba(18, 116, 135, 0.4);
  padding: 15px 35px;
  text-shadow: 2px 2px 25px var(--primary);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.button-a:hover {
  background: rgba(18, 115, 135, 0.644);
}

header {
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 30px;
}

.width-100 {
  width: 100%;
}

/* Gradient */
.gradient-text {
  text-shadow: 1px 1px 15px rgba(18, 116, 135, 1);
  background: linear-gradient(89.97deg, #00b5e2 1.84%, #99d6d1 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-A {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 21px;
}
/* Basic Styles End */

/* Nav Start */
.nav {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--transparent);
  box-shadow: 0px 10px 90px 30px rgba(18, 116, 135, 0.55);
  padding: 0px 20px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 30px;
  left: 30px;
}

.nav-links {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  font-size: 16px;
}

.nav-links a:hover {
  color: var(--text-hover);
  transform: scale(1.2);
}

@media screen and (max-width: 991.5px) {
  .nav{
    top: auto;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
}

@media screen and (max-width: 370px) {
  .nav{
    width: 95%;
    padding: 0 10px;
  }
  .nav-links a {
    font-size: 15px;
  }
}


/* Nav End */

/* by Adhnan */
.by{
  position: fixed;
  right: 20px;
  top: 20px;
  background: transparent;
  backdrop-filter: blur(10px);
  padding: 5px;
  border-radius: 20px;
}

.stem-logo {
  margin: -70px 0 -40px 0;
  font-size: 200px;
  letter-spacing: -14px;
  font-family: "Anonymous_Pro";
  text-shadow: 1px 1px 15px rgba(18, 116, 135, 1);
  background: linear-gradient(89.97deg, #00b5e2 1.84%, #99d6d1 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.superscript{
  font-size: 15px;
  vertical-align: super;
}

.division{
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  font-size: 20px;
  width: max-content;
}

.denominator{
  border-top: 1px solid white;
  margin-top: 2px;
  padding-top: 2px;
}

@media screen and (max-width: 500px) {
  header{
    padding: 65px 10px;
  }
  .stem-logo{
    margin: -50px 0 -30px 0;
    font-size: 140px;
  }
}

@media screen and (max-width: 300px) {
  .stem-logo{
    font-size: 100px;
  }
}
