.header {
  width: 100%;
  padding: 80px 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.header input{
  margin: 50px;
  width: 100%;
}

.heading {
  font-size: 70px;
  text-shadow: 1px 1px 15px rgba(18, 116, 135, 1);
  background: linear-gradient(89.97deg, #00b5e2 1.84%, #99d6d1 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title{
  text-shadow: 1px 1px 15px rgba(18, 116, 135, 1);
  font-size: 25px;
  font-family: var(--font2);
  text-align: center;
  border-bottom: 2px solid var(--secondary);
  border-radius: 15px;
  padding: 10px;
}

.inpSection{
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.equation, .question{
  margin: 10px 0;
  font-size: 15px;
}

.manuals {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 30px;
}

.manual {
  margin: 5px 10px;
}

.manuals a{
  margin: 5px 10px;
  
}

.subManuals {
  width: 100%;
  padding: 35px;
  background: var(--gradient-backgroud);
  margin: 30px 10px;
  border-radius: 25px;
  display: none;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.subManuals a{
  margin: 5px 10px;
}


.answer{
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 575px) {
  .header{
    padding: 80px 25px;
  }
  .title{
    font-size: 20px;
  }
  .answer{
    font-size: 17px;
  }
}
@media screen and (max-width: 400px) {
  .header{
    padding: 80px 10px;
  }
  .title{
    font-size: 17px;
  }
}

